:root {
  --primary-blue-color: #4285f4;
  --secondary-blue-color: #5c9eff;
  --primary-red-color: #ff4c4c;
  --secondary-red-color: #ff6b6b;
  --dark-clr-700: #000;
  --dark-clr-600: #333;
  --light-clr-700: #fff;
  --light-clr-600: #fafafa;
  --light-clr-500: #f3f3f3;
  --border: #ddd;
}
.profile-container {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 70px;
  background: white;
  border-radius: 8px;
  height: fit-content;
  padding: 24px;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);
}
.profile-header {
  background-color: var(--primary-blue-color);
  color: white;
  padding: 30px;
  border-radius: 8px;
  text-align: center;
  position: relative;
}
main .profile-pic-container {
  width: 150px;
  height: 150px;
  margin: 0 auto 20px;
  position: relative;
  border-radius: 50%;
  border: 5px solid white;
  background-color: var(--secondary-blue-color);
  overflow: hidden;
  cursor: pointer;
}
.profile-pic {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.upload-icon {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: var(--primary-blue-color);
  color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 0.3s;
}
.profile-pic-container:hover .upload-icon {
  opacity: 1;
}
.profile-pic-input {
  display: none;
}
.profile-content {
  padding: 30px;
}
.section {
  position: relative;

  .btn.btn-outline {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 10;
    background-color: white;
    font-size: 700;

    &:hover {
      background-color: transparent;
      border: 1px solid white;
      color: white;
    }
  }
  &.form-instructions {
    background: #ffeba9;
    /* border-left: 5px solid #0077cc; */
    padding: 15px 20px;
    margin: 10px 0;
    border-radius: 8px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 1.6;
    color: #333;
    text-align: justify;
  }
  .form-instructions strong {
    color: #005fa3;
  }
  .required-mark {
    color: red;
    font-weight: bold;
    font-size: 16px;
  }
}
.section-title {
  color: var(--primary-blue-color);
  margin: 1.5rem 0;
  padding: 0.75rem 0.5rem;
  background-color: #eaf2ff;
  border-left: var(--primary-blue-color) 5px solid;
}
.form-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
}
.form-group {
  margin-bottom: 20px;
}
label {
  display: block;
  margin-bottom: 8px;
  font-weight: 500;
}
.required {
  position: relative;
  /* padding: 0 10px 0 0; */
}
.required:after {
  content: " *";
  font-size: 20px;
  position: absolute;
  top: -4px;
  /* font-weight: bold; */
  color: var(--primary-red-color);
}
input,
select,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--border);
  border-radius: 4px;
  font-size: 16px;
}
input[type="checkbox"] {
  margin-right: 5px;
  transform: scale(1.4);
  cursor: pointer;
}

textarea {
  min-height: 100px;
}
.file-upload {
  border: 2px dashed var(--border);
  padding: 20px;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s;
}
.file-upload:hover {
  border-color: var(--primary-blue-color);
}
.file-input {
  display: none;
}
.file-preview {
  margin-top: 10px;
  font-size: 14px;
  color: var(--primary-blue-color);
}
.form-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 30px;
}
.btn {
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
  border: none;
  transition: all 0.3s;
}
.btn-primary {
  background-color: var(--primary-blue-color);
  color: white;
}
.btn-danger {
  background-color: var(--primary-red-color);
  color: white;
}
.btn-primary:hover {
  background-color: #004080;
}
.btn-outline {
  background: transparent;
  color: var(--primary-blue-color);
  border: 1px solid var(--primary-blue-color);
}
.btn-outline:hover {
  background-color: var(--primary-blue-color);
  color: white;
}
.skills-container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 10px;
}
.skill-tag {
  background-color: var(--secondary-blue-color);
  color: var(--primary-blue-color);
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 14px;
  display: flex;
  align-items: center;
}
.skill-tag button {
  background: none;
  border: none;
  color: #888;
  margin-left: 5px;
  cursor: pointer;
}
.add-btn {
  background-color: var(--primary-blue-color);
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}
@media (max-width: 600px) {
  .form-grid {
    grid-template-columns: 1fr;
  }

  .form-actions {
    flex-direction: column;
  }

  .btn {
    width: 100%;
  }
}
.btn-secondary:hover {
  background-color: hsl(32, 100%, 94%);
}
.btn-secondary {
  border: dotted 1px black;
}
.disabilities {
  display: grid;
  grid-column: span 4;

  label {
    margin-bottom: 16px;
    justify-self: flex-start;
  }
  ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
  }
  li {
    margin: 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }
  label {
    cursor: pointer;
    margin-top: 16px;
  }
  input[type="checkbox"] {
    width: 16px !important;
    height: 16px !important;
    cursor: pointer;
  }
}
.checkbox-flex input[type="checkbox"] {
  width: 20px;
  margin-right: 8px;
  accent-color: red !important;
}
.checkbox-flex label {
  display: inline-block;
  margin-top: 8px;
}
.employment-status {
  display: flex;
  flex-direction: column;
  grid-column: span 4;

  .checkbox-flex {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: flex-start;
  }
  .employment-checkboxes,
  .employed-checkboxes {
    grid-column: span 1;
    display: grid;
    grid-template-columns: repeat(2, 200px);
    gap: 10px;
  }
  .employed-checkboxes {
    margin-left: 20px;
  }
  .self-employed-checkboxes {
    margin-left: 40px;
    display: grid;
    place-items: start;
    gap: 12px 10px;
    grid-template-columns: repeat(3, 1fr);
    max-width: 700px;
  }
  .checkbox-unemployed-reasons {
    margin-left: 40px;
    display: grid;
    place-items: start;
    gap: 12px 10px;
    grid-template-columns: repeat(3, 1fr);
    max-width: 700px;
  }
  .unemployed-checkboxes {
    display: flex;
    flex-direction: column;
  }
}
.ofw-status {
  grid-column: span 2;
  display: flex;
  flex-direction: column;
  gap: 20px;

  .checkbox-ofw {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 15px;

  th,
  td {
    border: 1px solid var(--border);
    padding: 10px;
    text-align: left;
    text-overflow: ellipsis;
    /* white-space:nowrap; */
  }

  th {
    background-color: #f1f5f9;
    font-weight: 600;
  }
}
.hide {
  display: none !important;
}
.appear {
  display: block !important;
}
/* respponsive */
@media (max-width: 768px) {
  .employment-status .employment-checkboxes,
  .employment-status .employed-checkboxes,
  .employment-status .self-employed-checkboxes,
  .employment-status .checkbox-unemployed-reasons {
    grid-template-columns: repeat(1, 1fr);
    margin-left: 0px;
  }

  .form-group:has(table) {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: thin;
  }
}
