.main-header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* padding: 1rem 0 0 0; */
  margin-bottom: 1rem;

  h3{
    font-size: 1.25rem;
    font-weight: 700;
    color: var(--text);
  }
  .complete-profile-warning{
    cursor: pointer;
    background-color: var(--bg-muted);
    border: 1px solid var(--border);
    padding: 0.5rem 1rem;
    border-radius: var(--radius-md);
    align-content: center;
    display: flex;
    align-items: center;
    color: var(--text);
    font-size: 1rem;
    background: linear-gradient(to right, var(--bg-muted), var(--bg));
    text-decoration: none;
  }
}
.statistics-container {
  justify-self: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-radius: 1rem;
  color: var(--black);
  margin-bottom: 1.5rem;
  height: 150px;
  flex: 1;

  .stats-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    flex: 1;
    margin-right: 2rem;

    .stat-card {
      background: var(--bg);
      border: 1px solid var(--border);
      border-radius: var(--radius-md);
      padding: 0.5rem 2.5rem;
      box-shadow: var(--shadow-md);
      transition: var(--transition);
      color: var(--text);
      background-image: radial-gradient(
        circle at 80% 100%,
        var(--bg),
        var(--bg-muted)
      );
    }
    .stat-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      /* margin-bottom: 1rem; */
    }
    .stat-title {
      color: var(--text-muted);
    }
    .stat-value {
      font-size: var(--font-size-3xl);
      font-weight: var(--fw-bold);
      color: var(--text);
      margin-bottom: 0.25rem;
      font-family: "Segoe UI", sans-serif;
    }
    .stat-label {
      color: var(--text-muted);
      font-size: var(--font-size-sm);
    }
    .stat-icon {
      width: 50px;
      height: 50px;
      border-radius: 12px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.5rem;
    }

    .bg-primary-light {
      background: rgba(0, 26, 255, 0.1);
      color: var(--color-blue-600);
    }

    .bg-success-light {
      background: rgba(16, 185, 129, 0.1);
      color: var(--success);
    }

    .bg-warning-light {
      background: rgba(245, 158, 11, 0.1);
      color: var(--warning);
    }

    .bg-danger-light {
      background: rgba(239, 68, 68, 0.1);
      color: var(--danger);
    }

    .bg-purple-light {
      background: rgba(239, 68, 239, 0.1);
      color: rgb(185, 0, 185);
    }
  }
}
.job-application-status {
  justify-self: start;
  width: 80%;
  border-radius: 1rem;
  padding: 1rem 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  /* box-shadow: var(--shadow-md); */
  background-color: var(--white);
  border: 2px solid var(--border);
  color: var(--black-light);

  .job-application-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: -10px;
  }
  h2 {
    color: var(--text);
    font-size: 1.5rem;
  }
  .view-all {
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--text);
    font-weight: 600;
    align-self: flex-end;
    transition: all 0.2s;
  }
  .view-all:hover {
    text-decoration: underline;
  }
}
.application-cards {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: inherit;
  padding: 1rem;

  .application-item {
    background: linear-gradient(135deg, var(--bg), var(--bg-muted));
    border: 1px solid var(--border);
    box-shadow: var(--shadow-sm);
    border-radius: 0.75rem;
    padding: 1.5rem 2rem 1.5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .application-info {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .application-logo {
    width: 60px;
    height: auto;
    object-fit: cover;
    margin-right: 1rem;
    border-radius: 50%;
    /* border: 1px solid var(--border); */
  }
  .application-details {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }
  .application-title{
    color: var(--text);
    font-size: var(--font-size-2xl);
  }
  .application-company{
    color: var(--text-muted);
    font-size: var(--font-size-1xl);
    font-weight: var(--fw-bold);
  }
  .application-location-date{
    color: var(--text-muted);
    font-size: var(--font-size-sm);

  }
  .status-action {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    height: max-content;
  }
  .status-action .application-status {
    padding: 0.5rem 1rem;
    border: 1px solid ;
    border-radius: 3rem;

  }
  .application-status.hired{
    color: var(--success);
    border-color: inherit;
  }
  .application-status.pending{
    color: var(--warning);
    border-color: inherit;
  }
  .application-status.interview{
    color: var(--info);
    border-color: inherit;
  }
  .application-status.rejected{
    color: var(--danger);
    border-color: inherit;
  }
  .status-action button {
    background-color: var(--color-blue-500);
    border: 1px solid var(--color-blue-500);
    padding: 0.5rem 2rem;
    border-radius: 0.5rem;
    font-size: 1.1rem;
    font-weight: 500;
    color: #fff;
  }
  .status-action button:hover {
    background-color: transparent;
    color: var(--text);
  }
}
