:root {
  --primary-blue-color: #4285f4;
  --secondary-blue-color: #5c9eff;
  --primary-red-color: #ff4c4c;
  --secondary-red-color: #ff6b6b;
  --dark-clr-700: #000;
  --dark-clr-600: #333;
  --light-clr-700: #fff;
  --light-clr-600: #fafafa;
  --light-clr-500: #f3f3f3;
  --color-text-dark: #4a5568;
  --color-border: #e2e8f0;
  --color-background-header: #f8fafc;
  --color-primary: #3182ce;
  --color-danger: #e53e3e;
  --color-success: #38a169;
  --color-muted: #718096;
  --color-warning: #dd6b20;
  --color-primary-light: #e7f6ff;
  --color-success-light: #c6f6d5;
  --color-warning-light: #fff4de;
  --color-danger-light: #ffe4e4;
  --color-danger-hover: #feb2b2;
  --color-primary-hover: #bee3f8;
  --color-warning-hover: #f6ad55;
  --color-success-hover: #58bd8a;
}

.job-application-status {
  justify-self: center;
  width: 95%;
  border-radius: 1rem;
  padding: 1rem 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  color: var(--dark-clr-700);

  h2 {
    color: var(--dark-clr-600);
  }
  .table-responsive {
    width: 100%;
    overflow-x: auto;
    border-radius: 6px;
  }
  .job-application-table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    /* table-layout: auto; */
  }
  table,
  th,
  td {
    text-align: center !important;
  }
  thead {
    background: #f8fafc;
    color: var(--dark-clr-600);
    text-transform: uppercase;
    font-size: 0.875rem;
  }
  th,
  td {
    padding: 0.75rem 1rem;
    border-bottom: 1px solid #edf2f7;
  }
  th {
    color: var(--dark-clr-600);
    background-color: #e5ebf1;
  }
  tbody tr {
    background-color: var(--light-clr-500);
  }
}
.status {
  border-radius: 3rem;
  font-weight: 600;
  display: inline-block;
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
  box-shadow: none;

  &.applied {
    background-color: var(--color-primary-light);
    color: var(--color-primary);
  }

  &.interview {
    background-color: rgb(255, 233, 255);
    color: rgb(151, 84, 151);
  }

  &.referred {
    background-color: var(--color-warning-light);
    color: var(--color-warning);
  }
  &.hired {
    background-color: var(--color-success-light);
    color: var(--color-success);
  }
  &.declined {
    color: var(--color-danger);
    background-color: var(--color-danger-light);
  }
}
.action-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.375rem;
}
.action-btn.cancel-btn {
  display: inline-block;
  padding: 8px 12px;
  margin-right: 6px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: 600;
  transition: all 0.2s;
}

.action-btn.cancel-btn {
  background-color: rgb(255, 45, 45);
  color: white;
}
.action-btn.cancel-btn:hover {
  background-color: var(--color-danger-hover);
}
.action-btn.view-btn {
  background-color: var(--color-primary-light);
  color: var(--color-primary);
}
.action-btn.view-btn:hover {
  background-color: var(--color-primary-hover);
}
.action-btn.view-btn {
  background-color: var(--color-warning-light);
  color: var(--color-warning);
}
.action-btn.view-btn:hover {
  background-color: var(--color-warning-hover);
}
.action-btn.view-btn {
  background-color: var(--color-success-light);
  color: var(--color-success);
}
.action-btn.view-btn:hover {
  background-color: var(--color-success-hover);
}

.table-date {
  font-size: 0.875rem;
  color: #718096 !important;
  font-weight: 500;
  text-align: center;
}
