:root {
  --primary-blue-color: #4285f4;
  --secondary-blue-color: #5c9eff;
  --primary-red-color: #ff4c4c;
  --secondary-red-color: #ff6b6b;
  --dark-clr-700: #000;
  --dark-clr-600: #333;
  --light-clr-700: #fff;
  --light-clr-600: #fafafa;
  --light-clr-500: #f3f3f3;
}
.main-content {
  flex: 1;
  width: 100%;
  max-height: 90vh;
  padding: 1rem;
  overflow-y: auto;
  background-color: #f5f5f5;
  transition: margin-left 0.3s ease;
}
.job-listings {
  padding: 2rem 1rem;
  width: 100%;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;

  > :nth-child(1n){
    background: linear-gradient(135deg, #ff9e3d, #242424);
  }
  > :nth-child(2n){
    background: linear-gradient(135deg, #2176ff, #242424);
  }
  > :nth-child(3n){
    background: linear-gradient(135deg, #ff5e83, #242424);
  }
  > :nth-child(4n){
    background: linear-gradient(135deg, #70deff, #242424);
  }
  .job-card {
    width: 100%;
    padding: 1rem;
    border-radius: 2rem;
    color: var(--light-clr-700);
    text-shadow: 0 2px 5px #0000005f;
  }
  .job-card h3 {
    font-size: 2.5rem;
    font-weight: 400;
  }
  .job-card button{
    padding: .5rem 1rem;
    border: none;
    /* outline: none; */
    cursor: pointer;
    border-radius: .5rem;
    margin-top: .5rem;
    background-color: white;
    transition: all 100ms ease-in-out;
  }
  button:hover{
    padding: .5rem 2rem;
  }
}

@media (min-width: 768px) {
  .sta .sidebar {
    position: static;
    transform: none !important;
  }

  .sidebar.collapsed {
    width: 60px;
  }

  .sidebar.collapsed .label {
    opacity: 0;
    width: 0;
  }

  .sidebar.collapsed + .main-content {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  main {
    overflow: hidden;
  }
  .statistics-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .statistic-card {
    width: 100px;
  }
  .sidebar {
    position: absolute;
    height: 100%;
    z-index: 5;
    transform: translateX(-100%);
    width: 250px;
  }

  .sidebar.visible {
    transform: translateX(0);
  }

  .sidebar .label {
    opacity: 1 !important;
    width: auto !important;
  }
}
