.statistics-container {
  justify-self: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-radius: 1rem;
  color: var(--black);
  margin-bottom: 1.5rem;
  height: 150px;
  flex: 1;

  .stats-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    flex: 1;
    margin-right: 2rem;

    .stat-card {
      background: var(--bg);
      border: 1px solid var(--border);
      border-radius: var(--radius-md);
      padding: 0.5rem 2.5rem;
      box-shadow: var(--shadow-md);
      transition: var(--transition);
      color: var(--text);
      background-image: radial-gradient(
        circle at 80% 100%,
        var(--bg),
        var(--bg-muted)
      );
    }
    .stat-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      /* margin-bottom: 1rem; */
    }
    .stat-title {
      color: var(--text-muted);
    }
    .stat-value {
      font-size: var(--font-size-3xl);
      font-weight: var(--fw-bold);
      color: var(--text);
      margin-bottom: 0.25rem;
      font-family: "Segoe UI", sans-serif;
    }
    .stat-label {
      color: var(--text-muted);
      font-size: var(--font-size-sm);
    }
    .stat-icon {
      width: 50px;
      height: 50px;
      border-radius: 12px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.5rem;
    }

    .bg-primary-light {
      background: rgba(0, 26, 255, 0.1);
      color: var(--color-blue-600);
    }

    .bg-success-light {
      background: rgba(16, 185, 129, 0.1);
      color: var(--success);
    }

    .bg-warning-light {
      background: rgba(245, 158, 11, 0.1);
      color: var(--warning);
    }

    .bg-danger-light {
      background: rgba(239, 68, 68, 0.1);
      color: var(--danger);
    }
  }
}
.content-grid {
  border-radius: var(--radius-md);
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
}
.section-title {
  color: var(--text);
  align-content: center;
}
.quick-actions {
  /* background-color: var(--bg); */
  height: max-content;
  border-radius: var(--radius-md);
  border: 1px solid var(--border);
  box-shadow: var(--shadow-md);
  padding: 1rem;
  grid-column: span 2;

  .actions-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 15px;
    padding: 1rem;
  }
  a{
    text-decoration: none;
  }
  .action-card {
    background-color: var(--bg);
    background-image: linear-gradient(to bottom, var(--bg),var(--bg-muted));
    border-radius: var(--radius-md);
    box-shadow: var(--shadow-md);
    border: 2px solid var(--border);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .action-card:hover {
    transform: translateY(-5px);
    border: 2px solid var(--color-blue-500);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  }
  /* .action-card:nth-child(1) {
    background-image: radial-gradient(circle at -100% 250%,var(--color-blue-600),  var(--bg));
  }
  .action-card:nth-child(2) {
    background-image: radial-gradient(circle at 50% 250%,var(--color-blue-600),  var(--bg));
  }
  .action-card:nth-child(3) {
    background-image: radial-gradient(circle at 300% 250%,var(--color-blue-600),  var(--bg));
  } */

  .action-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--color-blue-200);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    color: var(--color-blue-500);
    font-size: 1.2rem;
  }

  .action-title {
    font-weight: 600;
    margin-bottom: 5px;
    color: var(--text);
  }

  .action-desc {
    font-size: 0.85rem;
    color: var(--text-muted);
  }
}

.calendar-container {
  /* background-color: var(--bg); */
  border-radius: var(--radius-md);
  border: 1px solid var(--border);
  box-shadow: var(--shadow-md);
  padding: 1rem;
  grid-column: span 3;

  #calendar {
    max-width: 900px;
    margin: 40px auto;
    color: var(--text-muted);
  }
  .fc .fc-button {
    background-color: var(--color-blue-500); 
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.2s ease;
  }
  .fc .fc-button:hover {
    background-color: var(--color-blue-700);
  }
  .fc .fc-button-active {
    background-color: #28a745; /* Green */
    color: white;
  }
}
