:root {
  --primary-blue-color: #4285f4;
  --secondary-blue-color: #5c9eff;
  --primary-red-color: #ff4c4c;
  --secondary-red-color: #ff6b6b;
  --dark-clr-700: #000;
  --dark-clr-600: #333;
  --light-clr-700: #fff;
  --light-clr-600: #fafafa;
  --light-clr-500: #f3f3f3;
  --color-background-primary-light: #ebf8ff;
  --color-background-light: #edf2f7;
  --color-text-dark: #4a5568;
  --color-border: #e2e8f0;
  --color-background-header: #f8fafc;
  --color-primary: #3182ce;
  --color-danger: #e53e3e;
  --color-success: #38a169;
  --color-muted: #718096;
  --color-warning: #dd6b20;
  --color-primary-light: #dbf2ff;
  --color-success-light: #c6f6d5;
  --color-warning-light: #feebc8;
  --color-danger-light: #fed7d7;
  --color-danger-hover: #feb2b2;
  --color-primary-hover: #bee3f8;
  --color-warning-hover: #f6ad55;
  --color-success-hover: #58bd8a;

}
.main-header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 1rem 0;
  /* border: 1px solid #33333361; */

  h1 {
    font-size: 2rem;
    /* margin-bottom: 1rem; */
    font-weight: 500;
    text-decoration: underline;
    text-decoration-thickness: 2px;
  }
  p {
    text-wrap: pretty;
    background-color: #d4e5ff;
    border-left: 8px solid var(--primary-blue-color);
    padding: 0.5rem;
    /* border-radius: 1rem; */

    a {
      font-weight: 700;
      color: var(--dark-clr-700);
    }
  }
}
.statistics-container {
  color: var(--light-clr-700);
  justify-self: center;
  width: 94%;
  height: 300px;
  background: #fff;
  border-radius: 1rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 1.5rem 2rem;
  margin: 2rem 0;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(3, 1fr);
  /* grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */
  gap: 2rem;

  .statistic-card {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    display: grid;
    place-items: center;
    text-align: center;
    opacity: 1;
 
  }
  .statistic-card h2 {
    font-size: 1.3rem;
    font-weight: 500;
    margin: 0.5rem 0;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  }
  .statistic-card p {
    font-size: 2.5rem;
    font-weight: 500;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  &.gradient {
    > :nth-child(1) {
      background: linear-gradient(
        246deg,
        #8bc1f8 31.86%,
        rgba(0, 128, 255, 0.5) 95.05%
      );
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }
    > :nth-child(2) {
      background: linear-gradient(
        246deg,
        #e58bf8 31.86%,
        rgba(119, 60, 166, 0.5) 95.05%
      );
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }
    > :nth-child(3) {
      background: linear-gradient(
        246deg,
        #94ee34 31.86%,
        rgba(0, 177, 44, 0.5) 95.05%
      );
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }
    > :nth-child(4) {
      background: linear-gradient(
        246deg,
        #f88ba2 31.86%,
        rgba(255, 13, 0, 0.5) 95.05%
      );
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }
    > :nth-child(5) {
      background: linear-gradient(
        246deg,
        #ff9539 31.86%,
        rgba(255, 85, 0, 0.5) 95.05%
      );
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }
    > :nth-child(6) {
      background: linear-gradient(
        246deg,
        #ff7376 31.86%,
        rgba(255, 0, 76, 0.5) 95.05%
      );
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }
  }
}
.job-application-status {
  justify-self: center;
  width: 94%;
  background-color: #fff;
  border-radius: 1rem;
  padding: 1rem 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  color: var(--dark-clr-700);


  h2 {
    color: var(--dark-clr-600);
  }
  .table-responsive {
    width: 100%;
    overflow-x: auto;
    border-radius: 6px;
  }
  .job-application-table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
  }
  thead {
    background: #f8fafc;
    color: var(--dark-clr-600);
    text-transform: uppercase;
    font-size: 0.875rem;
  }
  th,
  td {
    padding: 0.75rem 1rem;
    border-bottom: 1px solid #edf2f7;
  }
  th {
    color: var(--dark-clr-600);
    background-color: #e5ebf1;
  }
  tbody tr {
    background-color: var(--light-clr-500);
  }
}
.table-date{
  font-size: 0.875rem;
  color: var(--color-muted);
  font-weight: 500;
  text-align: center;
}


.progress-circle-bg {
  fill: none;
  stroke: #eee;
  stroke-width: 10;
}

.progress-circle-fill {
  fill: none;
  stroke: #4caf50;
  stroke-width: 10;
  stroke-linecap: round;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
  transition: stroke-dashoffset 0.6s ease;
}

.progress-text {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}