@font-face {
  font-family: "Poppins";
  src: url("../assets/font/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
:root {
  --primary-blue-color: #4285f4;
  --secondary-blue-color: #5c9eff;
  --primary-red-color: #ff4c4c;
  --secondary-red-color: #ff6b6b;
  --dark-clr-700: #000;
  --dark-clr-600: #333;
  --light-clr-700: #fff;
  --light-clr-600: #fafafa;
  --light-clr-500: #f3f3f3;
}
html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  /* outline: 1px solid rgb(38, 0, 255); */
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: auto;
  overflow: hidden;
}
.navbar {
  background-color: var(--light-clr-600);
  color: white;
  padding: 1rem;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 10;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;

  .logo {
    width: auto;
    height: 100%;
    margin-left: 1rem;
  }
  .logo img {
    display: block;
    width: 100px;
    margin-top: 10px;
  }
  .hamburger {
    cursor: pointer;
    background: none;
    border: none;
    color: var(--dark-clr-700);
    font-size: 1.5rem;
    padding: 0 0.5rem;
  }

  .navbar-left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  .navbar-left .right-pos {
    color: var(--dark-clr-700);
    padding: 0.75rem;
    border: 1px solid var(--dark-clr-700);
    border-radius: 50%;
  }
}
.container {
  display: flex;
  flex: 1;
  overflow: hidden;
  position: relative;
}
.sidebar {
  background-color: var(--light-clr-600);
  color: var(--dark-clr-700);
  width: 250px;
  padding: 1rem 0;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  filter: drop-shadow(0 0 0.5rem #0000001a);
  .sidebar-menu {
    list-style: none;
  }
  li {
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    border-bottom: 1px solid #55555540;
  }
  a {
    text-align: center;
    padding: 0.75rem 1rem;
    color: var(--dark-clr-700);
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 12px;
  }
  a:hover {
    /* color: #ddd; */
    background-color: #d7d7d7;
    border-radius: 1rem;
  }
  .emoji {
    font-size: 1.25rem;
    min-width: 24px;
  }
  .label {
    transition: opacity 0.3s ease;
  }
}
.main-content {
  flex: 1;
  width: 100%;
  max-height: 90vh;
  padding: 1rem;
  overflow-y: auto;
  background-color: #f5f5f5;
  transition: margin-left 0.3s ease;
}
.main-header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 1rem 0;
  /* border: 1px solid #33333361; */

  h1 {
    font-size: 2rem;
    /* margin-bottom: 1rem; */
    font-weight: 500;
    text-decoration: underline;
    text-decoration-thickness: 2px;
  }
  p {
    text-wrap: pretty;
    background-color: #5c9dff3e;
    padding: 0.5rem;
    border-radius: 1rem;

    a {
      font-weight: 700;
      color: var(--dark-clr-700);
    }
  }
}
.statistics-container {
  padding: 1rem 2rem;
  display: grid;
  place-items: center;
  /* grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */
  grid-template-columns: repeat(3,1fr);
  gap: 2rem;
  /* background-color: red;  */
  color: var(--light-clr-700);

  .statistic-card {
    width: 100%;
    height: 100%;
    /* border: 1px solid black; */
    border-radius: 1rem;
    display: grid;
    place-items: center;
    text-align: center;
    opacity: 0.8;
  }
  .statistic-card h2 {
    font-size: 1.3rem;
    font-weight: 500;
    margin: 0.5rem 0;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  }
  .statistic-card p {
    font-size: 2.5rem;
    font-weight: 500;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    /* margin-bottom: 0.5rem; */
  }
  &.gradient {
    > :nth-child(1) {
      background: linear-gradient(
        246deg,
        #8bc1f8 31.86%,
        rgba(0, 128, 255, 0.8) 95.05%
      );
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }
    > :nth-child(2) {
      background: linear-gradient(
        246deg,
        #e58bf8 31.86%,
        rgba(119, 60, 166, 0.8) 95.05%
      );
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }
    > :nth-child(3) {
      background: linear-gradient(
        246deg,
        #94ee34 31.86%,
        rgba(0, 177, 44, 0.8) 95.05%
      );
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }
    > :nth-child(4) {
      background: linear-gradient(
        246deg,
        #f88ba2 31.86%,
        rgba(255, 13, 0, 0.8) 95.05%
      );
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }
    > :nth-child(5) {
      background: linear-gradient(
        246deg,
        #ff9539 31.86%,
        rgba(255, 85, 0, 0.8) 95.05%
      );
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }
    > :nth-child(6) {
      background: linear-gradient(
        246deg,
        #ff7376 31.86%,
        rgba(255, 0, 76, 0.8) 95.05%
      );
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }
  }
}
.job-application-status {
  width: 100%;
  /* height: auto; */
  padding: 2rem 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: var(--dark-clr-700);

  h2 {
    color: var(--dark-clr-600);
  }
  .job-application-table {
    width: 100%;
    text-align: center;
  }
  thead{
    background: rgb(221, 221, 221);
  }
  th,
  td {
    padding: .75rem 1rem;
    border-bottom: 1px solid #0000004f;
  }
}

.status {
  border-radius: 2rem;
  
  &.applied {
    background-color: #77dbff;
    box-shadow: none;
  }

  &.interviewed {
    background-color: #e58bf8;
    box-shadow: none;
  }

  &.referred {
    background-color: #ffa556;
    box-shadow: none;
  }

  &.hired {
    background-color: #42ff49;
    box-shadow: none;
  }

  &.rejected {
    background-color: #ff4c4c;
    box-shadow: none;
  }
}
@media (min-width: 768px) {

  .sidebar {
    position: static;
    transform: none !important;
  }

  .sidebar.collapsed {
    width: 60px;
  }

  .sidebar.collapsed .label {
    opacity: 0;
    width: 0;
  }

  .sidebar.collapsed + .main-content {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  main{
    overflow: hidden;
  }
  .job-application-status{
    padding: 0 2rem;
    display: flex;
    justify-content: center;
  }
  .statistics-container{
    grid-template-columns: repeat(1, 1fr);
  }
  .statistic-card{
    width: 100px;
  }
  .sidebar {
    position: absolute;
    height: 100%;
    z-index: 5;
    transform: translateX(-100%);
    width: 250px;
  }

  .sidebar.visible {
    transform: translateX(0);
  }

  .sidebar .label {
    opacity: 1 !important;
    width: auto !important;
  }
}
